.carousel-text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white
}

.header-title {
    font-size: 55px;
    font-weight: 650;
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
}

.join-btn,
.contact-btn {
    display: inline-block;
    background: #bf0b0b;
    padding: 12px 40px;
    margin: 0 10px;
    border-radius: 99em;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: .15s background-color, .15s border-color, .15s color, .15s fill;
    font-weight: 600;

}

.contact-btn {
    background-color: #fff;
    color: #a00b0b;
}

.join-btn:hover,
.contact-btn:hover {
    background: #a00b0b;
    color: #fff;
}