.nav-brand {
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    color: #d32f2f !important;
}

.nav-custom-link {
    font-size: 18px;
    font-weight: 700;
}

.active-nav-link {
    color: #f01d1d !important;
}